* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(218, 212, 212);    
}

/* HEADER */

header {
    background-color: #63a3c4;
    padding: 10px;
}

header h1 {
    display: inline-block;
    font-size: 60px;
    color: black;  
    letter-spacing: 10px;
    padding: 20px;
}

/* NAV BAR */
header nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li  {
    padding: 30px 100px;
}

nav ul li a {
    text-decoration: none;
    font-size: 30px;
    color: white;
}


a:link {
    color: white;
  }
 
a:visited {
    color: white;
  }
 
a:hover {
    color: green;
}
  
a:active {
    color: rgb(204, 51, 77);
  }

/* BACKGROUND IMG */

.code {
    font-size: 50px;
    height: 300px;
    width: 100%;
    background-image: url(../images/background.jpg);
    color: white;
    text-align: center; 
}

main{
    border-top: 10px rgb(27, 159, 199) dotted;
}

/* BODY */

h2 {
    padding: 30px;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(179, 116, 71);
    
}

/* ABOUT SECTION */

.me p {
    padding: 50px;
    font-size: 30px;
    line-height: 1.2;   
    color:rgba(73, 66, 66, 0.699); 
}
.me img {
    width: 300px;
    height: 400px;
    float: right;
    margin: 5% 3% 0 3%;
    border-radius: 20px;
    border: 5px black solid;
    
}

/* WORK SECTION */

.portfolio img {
    width: 1220px;
    height: 600px;
    margin-left: 225px;
    border: 10px black solid;  
    border-radius: 20px; 
}

.portfolio h4 {
    position: relative;
    bottom: 50px;
    left: 1330px;
    color: red;
    font-size: 20px;
}

.grid figure {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
}


.study img{
    border: 10px black solid;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    margin: 10px;
}

.study h4 {
    position: relative;
    bottom: 50px;
    left: 225px;
    color: red;
    font-size: 20px;
}

.horiseon img{
    border: 10px black solid;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    margin: 10px;
    padding-bottom: 25px;
}

.horiseon h4 {
    position: relative;
    bottom: 50px;
    left: 250px;
    color: red;
    font-size: 20px;
}

.blank img{
    border: 10px black solid;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    margin: 10px;
}

.blank h4 {
    position: relative;
    bottom: 50px;
    left: 350px;
    color: red;
    font-size: 20px;
}

.service ul{
    font-size: 30px;
    padding-bottom: 50px;
    color: black; 
    margin-left: 40%;
    margin-bottom: 5px;
    word-spacing: 200px;
}


.service ul li {
    display: inline; 
}

/* FOOTER */

footer {
    padding: 30px;
    text-align: center;
    border-top: 5px black solid;
}

footer h4 {
    font-size: 20px;
    letter-spacing: 10px;
}

@media screen and (max-width: 912px) {
   
    .me p{
        font-size: 20px;
    }

    h2 {
        font-size: 40px;
    }

    h1 {
        font-size: 30px;
    }
    nav ul {
        padding: 10px;
        flex-direction: column;
        text-align: center;
    }
    
}