h1 {
    font-family: 'Handlee', cursive;
}

h3 {
    font-family: 'Handlee', cursive;
}

h5 {
    font-family: 'Handlee', cursive;
}

.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
